.button1 {-fx-border-color: turquoise; -fx-border-width: 1px; 
	-fx-background-color: black; -fx-border-radius: 5 5 5 5; -fx-background-radius: 5 5 5 5; 
	-fx-font-family: '16 OCR A'; -fx-font-size: 16; -fx-font-style: normal; -fx-font-weight: normal;
	-fx-text-fill: mediumturquoise;
}
.label1 { -fx-font-family: '16 OCR A'; -fx-font-size: 20; -fx-font-style: normal; -fx-font-weight: normal;
	-fx-text-fill: mediumturquoise;
}
.label2 { -fx-font-family: '16 OCR A'; -fx-font-size: 20; -fx-font-style: normal; -fx-font-weight: normal;
	-fx-text-fill: red;
}
.textArea1 { -fx-border-color: turquoise; -fx-border-width: 1px;  -fx-background-color: black; 
	-fx-font-size: 16; -fx-control-inner-background: black; -fx-text-inner-color: turquoise; 
	-fx-highlight-fill: turquoise; -fx-highlight-text-fill: black; -fx-border-radius: 5 5 5 5;
}
.borderPane1 { -fx-padding: 10 5 5 10; -fx-hgap: 7; -fx-vgap: 7; 
	-fx-border-width: 2px; -fx-border-color:turquoise; -fx-background-color: #111111;
	-fx-border-radius: 2px
}
.vBox1 { -fx-padding: 10 5 5 10; -fx-hgap: 7; -fx-vgap: 7; 
	-fx-border-width: 2px; -fx-border-color:turquoise; -fx-background-color: #111111;
	-fx-border-radius: 2px
}